body {
    background-image: linear-gradient(hsl(288, 28%, 44%),hsl(300, 38%, 23%));
}
header {
    display: flex;
    flex-direction: column;
    text-align: center;
}
nav {
    display: flex;
    text-align: center;
    flex-direction: column;
}
.toc {
    display: flex;
    flex-direction: column;
}
.toc_setup {
    display: flex;
    flex-direction: column;
    padding-left: 50%;
    text-align: left;
}
main {
    padding: 3%;
    background-color: rgba(255,255,255,0.3);
    margin: 4%;
    border-radius: 50px;
}