#cover {
    height: 100px;
}
.artText {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
}
.coverContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.progressBar{
    height: 20px;
    background-color: blue;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 50px;
}
#progress{
    background-color: green;
    height: inherit;
    border-radius: inherit;
    width: 10%;
}

#container{
    padding: 1%;
    border-radius: 50px;
}