:root {
    --dropShadow: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
}
body {
    zoom: 2;
}
#cover {
    height: 100px;
    border-radius: 10px;
    filter: var(--dropShadow)
}
.artText {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.coverContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.progressBar{
    height: 15px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 50px;
    overflow: hidden;
}
#progress{
    background-color: green;
    height: inherit;
    border-radius: inherit;
    width: 10%;
}

#container{
    padding: 1%;
    border-radius: 25px;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 10px;
    filter: var(--dropShadow);
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.data {
    width: 100%;
    margin-right: 1%;
    overflow: hidden;
}
.data > p {
    width:fit-content;
    text-wrap: nowrap;
    white-space: nowrap; 
    text-shadow: 1px 1px rgba(0,0,0,0.1);
}

.scroll {
    animation: scroll 10s linear infinite;
}

#title {
    font-size: larger;
}

#album {
    font-size: small;
}

#album, #artist, #title {
    text-wrap: nowrap;
}

.times {
    display: flex;
    justify-content: space-between;
    font-size: small;
    margin-bottom: 10px;
}
@keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}